<h1>Edit Student</h1><br />
<h3> <%= link_to "See All Students", students_path %></h3>
<h3> <%= link_to "Add New Student", new_student_path %></h3>
<%= form_for(@student) do |f| %>
  <br />
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>

